<div class="app-container">
    <header class="app-header">
        <h1>Debt Details</h1>

    </header>
    <div class="total-card">
        <div class="total-label">TOTAL OUTSTANDING DEBT</div>
        <div class="total-message">Please forgive me if I pass away</div>
        <div class="total-amount"> {{ formatAmount(totalAmount) }} </div>

    </div>


    <div class="debt-list">
        @for (debt of debts; track debt.id) {
        <div class="debt-card">
            <div class="creditor-name">{{ debt.name }}</div>
            <div class="debt-details">
                {{ formatAmount(debt.amount * 1) }}
            </div>
            <div class="debt-actions">
                <span class="status-badge" [class.unpaid]="debt.status === 'unpaid'"
                    [class.paid]="debt.status === 'paid'">
                    Status: unpaid
                </span>
                <span class="view-evidence" (click)="viewEvidence(debt)">View Note</span>

            </div>
        </div>
        }

    </div>

    <div>
        <div class="fab-container">
            @if(!isGuest){
            <button mat-fab color="primary" (click)="openAddDebtDialog()">
                <mat-icon>add</mat-icon>
            </button>}
        </div>
    </div>
</div>