<div class="app-container">
    <!-- Header -->
    <header class="app-header">
        <h1>Douyoune (ديون)</h1>
        <mat-icon class="header-icon" (click)="goBack()">arrow_back</mat-icon>
    </header>

    <!-- Total Outstanding Debt Card -->
    <div class="total-card">
        <div class="total-label">TOTAL OUTSTANDING DEBT</div>
        <div class="total-message">Please forgive me if I pass away</div>
        <div class="total-amount"> {{ formatAmount(totalAmount) }} </div>

    </div>

    <!-- Debt List -->
    <div class="debt-list">
        @for (debt of debts_list; track debt.id) {
        <div class="debt-card">
            <div class="creditor-name">{{ debt.name }}</div>
            <div class="debt-details">
                {{ formatAmount(debt.amount * 1) }}
            </div>
            <div class="debt-actions">
                <span class="status-badge" [class.unpaid]="debt.status === 'unpaid'"
                    [class.paid]="debt.status === 'paid'">
                    Status: unpaid
                </span>
                <span class="view-evidence" (click)="viewEvidence(debt)">View Note</span>

            </div>
        </div>
        }

    </div>




</div>