.code-input {
  width: 100%;
  max-width: 250px;

  input {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.view-btn {
  width: 100%;
  max-width: 250px;
  padding: 12px;
}
